/* PÁGINA CONTACTO */

/* El padding superior se gestiona globalmente en style.css */

/* Alinear los campos del formulario */

#formulario-contacto {
  margin: var(--space-lg);
}

.caja-form {
  display: flex;
  align-items: center;
}

fieldset div:first-of-type {
  margin-top: var(--space-lg);
}

.caja-form label {
  width: 30%;
  margin: var(--space-xs);
  font-weight: bold;
}

#formulario-contacto input[type="submit"] {
  display: block;
  margin: var(--space-md) auto;
  padding: var(--space-sm) var(--space-lg);
  background-color: var(--color-primary); /* uso del color primario definido */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: var(--radius-md);
}

#formulario-contacto fieldset {
  width: 35%;
  margin: var(--space-md) auto;
  padding: var(--space-sm);
  border: none;
  border-radius: var(--radius-lg);
  box-shadow: 9px 8px 23px -7px var(--color-primary); /* Caja de sombra*/
}

.titulo-contacto {
  font-family: var(--font-family-titulos);
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  padding-bottom: var(--space-sm);
}

/* dar estilo a las cajas de input */
#formulario-contacto input,
#formulario-contacto textarea {
  flex: 1; /* Ocupa el espacio restante */
  padding: var(--space-sm);
  margin: var(--space-sm);
  box-sizing: border-box;
  border-radius: var(--radius-sm);
  border: var(--border-width) solid var(--color-muted);
  font-family: inherit;
  resize: none;
}

/* Ocultar placeholder*/

input::placeholder,
textarea::placeholder {
  color: transparent;
}

/* cambio de borde cuando el input esté activo */
#formulario-contacto input[type="text"]:focus,
#formulario-contacto input[type="email"]:focus,
#formulario-contacto textarea:focus {
  outline: solid var(--color-secondary);
}

#formulario-contacto .btn-enviar:hover {
  transition: all var(--transition-base);
  transform: scale(1.05);
}

#formulario-contacto input,
#formulario-contacto textarea {
  transition: all var(--transition-base);
}

#formulario-contacto input[type="text"]:hover,
#formulario-contacto textarea:hover {
  transform: (1.05);
  box-shadow: 0 0 8px var(--color-secondary);
}
/* PANTALLAS PEQUEÑAS */
@media (max-width: 390px) {
  /* Ajuste específico para el formulario en pantallas pequeñas */
  #formulario-contacto {
    margin-top: 30%;
  }
  #formulario-contacto fieldset {
    width: 100%;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-muted);
  }

  .caja-form label {
    display: none;
  }
}

/* PANTALLAS MEDIANAS */
@media (min-width: 391px) and (max-width: 1024px) {
  /* Ajuste específico para el formulario en pantallas medianas */
  #formulario-contacto {
    margin-top: 15%;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-muted);
  }
  .caja-form label {
    display: none;
  }
}
