@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Paleta de colores */
    --color-primary:   #1f2937; /* color principal / fondo oscuro */
    --color-secondary: #3b82f6; /* color secundario / acento */
    --color-surface:   #ffffff; /* superficie / fondo claro */
    --color-text:      #0f172a; /* color de texto principal */
    --color-muted:     #94a3b8; /* color para bordes, textos secundarios */

    /* Tipografía */
    --font-size-base: 16px; /* tamaño base de letra */
    --font-family-base: "Helvetica Neue", Arial, sans-serif;

     --titulo: "Bebas Neue", sans-serif;
    --subtitulo: "League Spartan", sans-serif;
    --parrafos: "Work Sans", sans-serif;

    /* Espaciado */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px; /* padding/margin por defecto */
    --space-lg: 24px;
    --space-xl: 32px;

    /* Bordes */
    --radius-sm: 4px;
    --radius-md: 8px;  /* radio por defecto */
    --radius-lg: 16px;

    /* Lo que sea que vaya aca */
    --border-width: 1px;
    --transition-fast: 150ms;
    --transition-base: 300ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* valores por defecto de las variables */
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-surface);
}

body {
  padding-top: 100px; 
  padding-bottom: 40px; 
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;

}

header h1{
    font-family: var(--titulo);
    font-size: 2.5em;
}

header ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

header ul li a{
    text-decoration: none;
    font-family: var(--parrafos);
}

footer{
    width: 100%;
    display: flex;
    height: auto;
    padding: 10px;
    position: fixed;
    bottom: 0;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

